body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 10px 50px;
}

.header-content {
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

.right-list,
.logo {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
    margin: 0;
}

.hero-banner {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: white;
    padding: 50px;
}

.hero-container {
    display: flex;
    width: 1000px;
}

.hero-container img {
    width: 450px;
    object-fit: scale-down;
}

.info-items img {
    width: 100px;
    height: 100px;
    object-fit: scale-down; /* this makes it so the images of different dimensions can all be the same size and not have to stretch */
}